 /*test image css*/
 .birthday-image0 {
    width: 300px;
    margin-left: 10px;
    position: relative;
  overflow: hidden;
   display: block;
  position: absolute;
  transform: skewX(2deg);
}
.birthday-image1 {
  width: 250px;
  margin-left: 10px;
  position: absolute;
  top: 363px;
  left: 50px;
}




