
@font-face {
  font-family: 'CoffeeCake';
  src: url('path/to/font/CoffeCake.ttf') format('truetype'),
       url('path/to/font/CoffeCake.woff') format('woff'),
       url('path/to/font/CoffeCake.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'CoffeCake', sans-serif;
    /*background-color:#293030;*/
    background-image: url('images/backgroundtest.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #94bff199; /* coral header background */
    color: rgb(11, 68, 106);
    text-align: center;
  }
  
  header h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 26px;
    color: rgb(11, 68, 106);
  }
  .main-content {
    background-color: #e1f9fba4;
    border: rgb(112, 177, 242) 4px solid;
    color: rgb(11, 68, 106);;
    margin: 10px 250px 10px 250px; /*up right down left*/
    padding: 100px 150px 100px 150px;
    text-align: center;
  }
  
  .main-content h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .main-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .gift-ideas {
    background-color: #95a7f858; /* coral gift ideas background */
    padding: 50px 0;
    text-align: center;
    color: rgb(11, 68, 106);
  }
  
  .gift-ideas h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .gift-ideas ul {
    list-style: none;
  }
  
  .gift-ideas li {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .gift-ideas li i {
    margin-right: 10px;
  }
  
  footer {
    background-color: #6bb0ffcb; /* coral footer background */
    color: rgb(11, 68, 106);
    text-align: left;
    padding: 15px;
  }