
@font-face {
  font-family: 'CoffeeCake';
  src: url('path/to/font/CoffeCake.ttf') format('truetype'),
       url('path/to/font/CoffeCake.woff') format('woff'),
       url('path/to/font/CoffeCake.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'CoffeCake', sans-serif;
    background-color:#293030
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #6bb0ff; /* coral header background */
    color: #080505;
    text-align: center;
  }
  
  header h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 25px;
    color: #0e1010;
  }
  .main-content {
    background-color: #e1f9fb;
    margin: 10px 250px 10px 250px; /*up right down left*/
    padding: 100px 150px 100px 150px;
    text-align: center;
  }
  
  .main-content h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .main-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .gift-ideas {
    background-color: #95a7f8; /* coral gift ideas background */
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .gift-ideas h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .gift-ideas ul {
    list-style: none;
  }
  
  .gift-ideas li {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .gift-ideas li i {
    margin-right: 10px;
  }
  
  footer {
    background-color: #6bb0ff; /* coral footer background */
    color: #fff;
    text-align: center;
    padding: 20px 0
  }  