 /*test image css*/
 .birthday-image0 {
    width: 300px;
    margin-left: 10px;
    position: relative;
  overflow: hidden;
   display: block;
  position: absolute;
  transform: skewX(2deg);
}
/*image of zoe thats on the card*/
.birthday-image1 {
  width: 250px;
  margin-left: 10px;
  position: absolute;
  top: 363px;
  left: 50px;
}
#dropdown{
  width: 35px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  left: 5px;
}



